/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { font-size: 1.2rem;
    line-height: 1.65;
    background-position: center center; background-repeat: no-repeat;
    color:#393d41; }
* {box-sizing: border-box;}
header {
    background: rgb(0, 0, 0);
    text-align: center;}

header div img {
    margin-bottom: 20px;
    padding-top: 1em;}

header main { background-image: url(../images/banner.jpg); background-size: cover;
    padding: 2em 1em;
    margin-bottom:1.5em ;

}
header h1 { color: #25a2c3 ; font-family: 'Montserrat', sans-serif; font-weight: 700;
line-height: 1.5; font-size: 2em;}
header p {font-family: 'Open Sans', sans-serif;}
h1+p { padding-bottom: 2em;
    padding-top: 2em;}
span{ margin-top: 50px;}
p span{ border: 1px solid #cb3234;border-radius: 5px;background-color: 
    #cb3234;
color: white; padding: 10px 20px 10px 20px; text-transform: uppercase;}

#corpo{ background-color: white; }
#corpo h1 { color: #25a2c3 ; font-family: 'Montserrat', sans-serif; font-weight: 700;
text-align: center; margin-bottom: -25px;}
#corpo p { font-family: 'Open Sans', sans-serif; text-align: center;}
.tondo {border-radius: 100%; text-align: center; width: 50%; padding-bottom: 1.5em;}
section{ text-align: center;}
#rosso { background-color: #cb3234; padding-top: 1.5em; padding-bottom: 1.5em; margin-bottom: 5em;
}
#rosso h1{ font-size: larger; color: white; padding-bottom: 1em;}
#rosso p { font-style: italic; color: white;}
#rosso h2 {font-size: medium;font-family: 'Montserrat', sans-serif; font-weight: 400; color: white; padding-bottom: 3px; }
#rosso span { font-size: small; font-family: 'Montserrat', sans-serif; font-weight: 400; color: white;}

.imag1{border: solid black ; margin-bottom: 5em; margin-left: 15px; margin-right: 15px; border-radius: 5px;}
#foto1 {width: 100%;}
.imag1 h1 { color: #25a2c3 ; font-family: 'Montserrat', sans-serif; font-weight: 700;text-align: center;
       padding-top: 2em; }
.imag1 p {font-size: medium;font-family: 'Montserrat', sans-serif; font-weight: 400; color:#393d41; 
text-align: center; }


.imag2 {border: solid black ; margin-bottom: 5em; margin-left: 15px; margin-right: 15px; border-radius: 5px;}
#foto2 { width: 100%;}
.imag2 h1{color: #25a2c3 ; font-family: 'Montserrat', sans-serif; font-weight: 700;text-align: center;
    padding-top: 2em; }
.imag2 p {font-size: medium;font-family: 'Montserrat', sans-serif; font-weight: 400; color:#393d41; 
    text-align: center; }

.imag3 { border: solid black ; margin-bottom: 5em; margin-left: 15px; margin-right: 15px;border-radius: 5px;}
#foto3 { width: 100%;}
.imag3 h1{color: #25a2c3 ; font-family: 'Montserrat', sans-serif; font-weight: 700;text-align: center;
    padding-top: 2em; }
.imag3 p {font-size: medium;font-family: 'Montserrat', sans-serif; font-weight: 400; color:#393d41; 
    text-align: center; }

    footer {
        background: #40c8ee;
        color: #f0f0f0;
        padding: 1em;
        text-align: center;
        font-size: 1.2rem;
    line-height: 1.5;}
footer h1{ padding-top: 2em;
padding-bottom: 2em;font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 1.2rem;
}
footer address{ padding-bottom: 2em;font-family: 'Montserrat', sans-serif; font-weight: 400;padding-top: 1em; margin-bottom: 1px solid white
    ;}
footer .mail { color: white; font-family: 'Montserrat', sans-serif; font-weight: 400; margin-bottom: 10px; padding-top: 1em;}
footer .tel { color: white; font-family: 'Montserrat', sans-serif; font-weight: 400; margin-bottom: 10px; padding-top: 1em; padding-bottom: 1em ;}






/* MAIN */




/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


