*{ font-family: Georgia, 'Times New Roman', Times, serif;}

figure { text-align: center;}

.focaccia_img{border-radius: 10px 10px 10px; width: 50%;}

figcaption{ color: darkgrey;}

figure h4 { border-top: 1px solid; 
            border-color: goldenrod;
            background-color: bisque;
            padding: 1em;
            color:darkslategrey;
            margin: 0 auto;}

nav {text-align: center; padding-left: 1em;}
nav span { margin-left: -235.75px;
color: coral;border-left: 1px solid orangered;padding-left: 1em;}
nav a {border-left: 1px solid orangered; padding-left: 1em;}


.container {width: 50%;
text-align: left;
margin: auto;}
main {text-align: left;}
h3 { border-bottom: 1px solid lightskyblue ;}
ul{font-weight: bold;}
ul li{font-weight: normal;}


h2{border-bottom: 1px solid lightskyblue;}
h5{ margin-bottom: -1px;}

footer {text-align: center;}